<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cd.blog.humbird.libra.mapper.TeamMapper">

    <resultMap id="BaseResult" type="cd.blog.humbird.libra.entity.Team">
        <id column="id" property="id"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="version" property="version"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResult">
        SELECT *
        FROM team
        ORDER BY id
    </select>

    <select id="findTeams" resultMap="BaseResult">
        SELECT *
        FROM team
        <if test="name == true">
            and name = #{name}
        </if>
    </select>

    <select id="findById" resultMap="BaseResult">
        SELECT *
        FROM user
        WHERE id = #{id}
        ORDER BY id
    </select>

    <select id="findByName" resultMap="BaseResult">
        SELECT *
        FROM team
        WHERE name = #{name}
    </select>

    <insert id="insert" useGeneratedKeys="true"
            keyProperty="id">
        insert into team(gmt_created, gmt_modified, creator, modifier, version,
                name)
        values (NOW(), NOW(), #{creator}, #{modifier}, #{version},
                #{name})
    </insert>

    <update id="update">
        update team
        set name       = #{name},
            version      = #{version} + 1,
            modifier     = #{modifier},
            gmt_modified = NOW()
        where id = #{id} and version = #{version}
    </update>

    <delete id="delete">
        delete from team
        where id = #{id}
    </delete>
</mapper>